{% extends "base.html" %} {% block title %}Book Details{% endblock title %} {%
load crispy_forms_tags %} {% block content %}
<div>
  <div class="grid grid-cols-1 gap-4">
    <div>
      <img
        src="{{object.image.url}}"
        class="rounded-t-lg py-2 flex justify-center"
        alt="user image"
      />
    </div>

    <div>
      <h5
        class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
      >
        Name : {{object.title}}
      </h5>

      <p class="mb-3 font-normal dark:text-gray-400">
        Borrowing Price : {{object.price}}
      </p>
      <div class="mb-2">
        Categories : - {% for j in object.category.all %}
        <button
          class="relative inline-flex items-center justify-center px-2 py-1 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 disabled"
          disabled
        >
          {{j.name}}
        </button>
        {% endfor %}
      </div>
      <p class="mb-3 font-normal dark:text-gray-400">
        Details : {{object.description}}
      </p>
      <a
        href="{% url 'borrow_book' object.id %}"
        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >Borrow this Book</a
      >
    </div>
  </div>
</div>

<div class="card container mt-5 mb-12 pt-3 bg-body-secondary">
  <h5 class="text-xl text-gray-900 dark:text-white">
    Total comments : {{comments | length}}
  </h5>
  <div class="card-body">
    {% for c in comments %}
    <div>
      <div>
        <span class="text-xl text-gray-900 dark:text-white">Name -</span>
        {{c.user}}
      </div>
      <div>
        <p>
          <span class="text-xl text-gray-900 dark:text-white">Comment - </span
          >{{c.body}}
        </p>
      </div>
      <div>
        <span class="text-xl text-gray-900 dark:text-white"
          >Comment Created Time -
        </span>
        {{c.created_on}}
      </div>
    </div>
    <br /><br />

    {% endfor %}
  </div>
</div>
<div class="py-12"></div>

{% endblock content %}
